@import url('https://cdn.jsdelivr.net/npm/remixicon@4.3.0/fonts/remixicon.css');
@import url('fonts.css');
body{
    margin:0;
    font-size:16px;
    font-family: "Gowun Dodum", sans-serif;
    background-color:#eff2f6;
}

h1, h2, h3, h3, h5, h6{
	font-family: "Gowun Batang", serif;
	font-weight: bold;
}

@media (min-width: 1200px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1340px;
    }
}

/********* bbsList ***********/
.bbslist{
	width:100%;
	border-bottom:1px solid #ccc;
}
.bbslist th{
	border-top:1px solid #ddd;
	border-bottom:2px solid #ccc;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	position:relative;
}
.bbslist th:not(:last-child)::after{
	content:"";
	width:1px;
	height:15px;
	background:#ccc;
	position:absolute;
	right:0;
	top:15px;
}
.bbslist th:last-child::after{
	border:none;
}
.bbslist td{
	padding:13px 15px;
	border-bottom:1px dashed #ddd;
}
.bbslist td a{
	color:#333;
}
.btn-box{
	line-height:70px;
}

/********** card gallery **********/
a.card-gallery{
	color:#333;
	background:#fff;
	box-shadow: 0 0 15px 0 rgba(0,0,0,0.08);
	text-decoration: none;
	display:block;
	transition: all 300ms;

}
a.card-gallery:hover{
	box-shadow: 2px 2px 15px 0 rgba(0,0,0.15);
	
}


/********** write ************/
.uploadbox{
	border:1px solid #ccc;
	background:#ededed;
	padding:20px;
}
.uploadinbox{
	padding:20px;
	background:#fff;
}
.upfile{
	display:none;
}