<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.musecom.comunity.mapper.BbsAdminMapper">
  <select id="selectById" parameterType="int" resultType="bbsAdmin">
     SELECT * FROM bbs_admin WHERE id = #{id}
  </select>
  
  <select id="selectList" resultType="bbsAdmin">
     SELECT * FROM bbs_admin order by id desc;
  </select>
  
  <insert id="insertBbsAdmin" parameterType="bbsAdmin">
     insert into bbs_admin
     (bbstitle)
     values
     (#{bbstitle}) 
  </insert>

  <update id="updateBbsAdmin" parameterType="bbsAdmin">
    UPDATE bbs_admin
    SET
        bbstitle = #{bbstitle},
        skin = #{skin},
        category = #{category},
        listcount = #{listcount},
        pagecount = #{pagecount},
        lgrade = #{lgrade},
        rgrade = #{rgrade},
        fgrade = #{fgrade},
        regrade = #{regrade},
        comgrade = #{comgrade},
        filesize = #{filesize},
        allfilesize = #{allfilesize},
        thimgsize = #{thimgsize},
        filechar = #{filechar}
    WHERE id = #{id}
  </update>
 
  <update id="fileUpdateBbsAdmin" parameterType="bbsAdmin">
     UPDATE bbs_admin
     SET
     filesize =#{filesize},
     allfilesize = #{allfilesize},
     thimgsize = #{thimgsize},
     filechar=#{filechar}
     WHERE
     id=#{id}
  </update>
 
  <delete id="deleteBbsAdmin" parameterType="int">
     DELETE from bbs_admin where id = #{id}
  </delete>
  
  <!-- category  -->
  <select id="selectCategoryByBbsId" parameterType="int" resultType="bbsCategory">
     SELECT * FROM category WHERE bbsid = #{id} order by categorynum;
  </select>
  
</mapper>