@charset "UTF-8";
@font-face {
    font-family: 'Pretendard';
    src: url('../fonts/SF_HambakSnow.eot'),
     	 url('../fonts/SF_HambakSnow.ttf') format('truetype'),
         url('../fonts/SF_HambakSnow.woff2') format('woff2'),
         url('../fonts/SF_HambakSnow.woff') format('woff');
         
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

